div#history-wrapper {
	font-size: 90%;
	line-height: 1.5;
}
div#history-all-box {
	display: none;
}
div#history-my-box {
	display: none;
}
div.history-content {
	padding: 10px;
	font-weight: 500;
	background-color: #227093;
	color: #ffffff;
	border-radius: 5px;
	border: solid 1px #d1ccc0;
}
div.history-content:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #227093;
}

div.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
div.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 500px;
	border-radius: 5px;
}
button.close-modal {
	background-color: #d63031;
	border: solid 1px #d63031;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
	color: #FFFFFF;
}
button.close-modal:hover {
	background-color: #FFFFFF;
	color: #d63031;
}

button.cancel-pick {
	background-color: #e67e22;
	border: solid 1px #e67e22;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
	color: #FFFFFF;
}
button.cancel-pick:hover {
	background-color: #FFFFFF;
	color: #e67e22;
}
span.canceled-text {
	background-color: #2ecc71;
	border: solid 1px #2ecc71;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
	color: #ffffff;
}