* { box-sizing: border-box; }
body { 
	font-family: "Arial", sans-serif; 
	margin: 0;
}

/* Add custom scrollbar */
::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-thumb {
	background-color: #59ABE3;
}
::-webkit-scrollbar:horizontal {
	height: 3px;
}

/* Main container */
div#app-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0px;
}

/* Ajax page container */
div#app-ajax-wrapper {
	padding: 10px;
}
div#app-loading-bar {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #34495e;
	padding: 2px;
}