* { box-sizing: border-box; }

body {
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;
}

/* Add custom scrollbar */
::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-thumb {
	background-color: #59ABE3;
}
::-webkit-scrollbar:horizontal {
	height: 3px;
}

/* Main/Root Container Style */
div#app-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;
}
/* End of Container Style */

/* Login modal style */
div.app-modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
div.app-modal-content {
	background-color: #FEFEFE;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 700px;
	border-radius: 10px;
	text-align: center;
}
h2.app-login-header {
	color: #7f8c8d;
	padding: 5px;
	border-radius: 5px;
	font-weight: 500;
}
input.input-text {
	border: none;
	border-bottom: solid 1px #95a5a6;
	outline: none;
	padding: 10px;
	width: 50%;
	font-family: "arial", sans-serif;
}
input.app-login-btn {
	border: none;
	padding: 7px;
	width: 50%;
	background-color: #e74c3c;
	color: #F2F2F2;
	font-weight: 700;
	border-radius: 5px;
}

button.app-close-btn {
	border: none;
	padding: 7px;
	width: 50%;
	background-color: #34495e;
	color: #F2F2F2;
	font-weight: 700;
	border-radius: 5px;
}

div.app-login-alert {
	font-size: 80%;
	color: red;
}

button.app-close-btn:hover {
	cursor: pointer;
}

input.app-login-btn:hover {
	cursor: pointer;
}
/* end of login modal style */

/* Table style */
div#app-table-box {
	overflow-x: auto;
	position: absolute;
	top: 260px;
	left: 0;
	width: 75%;
}
div#app-table-nav {
	position: absolute;
	top: 190px;
	padding: 5px;
	padding-top: 10px;
	padding-left: : 30px;
	padding-bottom: 50px;
	width: 75%;
	border-radius: 3px;
	display: inline;
}
button.sub-nav {
	border: none;
	border-bottom: solid 3px #3498db;
	color: #3498db;
	background-color: #FFFFFF;
	padding: 10px;
	outline: none;
}
button.sub-nav:hover {
	cursor: pointer;
}
div#app-side-notif {
	height: 100%;
	width: 24%;
	position: absolute;
	right: 0;
	top: 210px;
	background-color: #FFFFFF;
	border: solid 1px #ddd;
	overflow-x: hidden;
	padding: 5px;
	padding-left: 10px;
	border-radius: 3px;
	color: #2c3e50;
}
div#app-table-box table {
	text-align: center;
	font-size: 80%;
	width: 100%;
	border-radius: 3px;
}
table.app-table {
	border:1px solid #DDD;
}
tr:nth-child(even) {
	background-color: #F2F2F2;
}

/* Pickup Button */
a#app-pick-btn {
	text-decoration: none;
	background-color: #7f8c8d;
	color: #F2F2F2;
	padding: 5px;
	border-radius: 4px;
	display: block;
}
a#app-pick-btn:hover {
	background-color: #2c3e50;
}

/* Pick Modal */
div#app-pickup-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	widows: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4)
}
div#app-pickup-alert {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 35%;
	right: 35%;
	background-color: #e74c3c;
	color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align: left;
}
.close-alert {
	font-size: 28px; float: right;
	padding: 10px;

}
.close-alert:hover {
	cursor: pointer;
}

div.app-pickup-content {
	background-color: #FEFEFE;
	margin: 70px auto;
	padding: 20px;
	border: solid 1px #888;
	width: 80%;
	border-radius: 5px;
}

button.pickup-close:hover {
	cursor: pointer;
}

div#tbl-input-content {
	overflow-x: auto;
}
div#tbl-input-content table {
	width: 100%;
}
div#tbl-input-content table tr:nth-child(even) {
	background-color: #FFFFFF;
}
div#app-pickup-btn-box {
	padding: 3px;
	text-align: center;
}
input.app-howmuch {
	border: none;
	border-bottom: solid 1px #95a5a6;
	padding: 10px;
	outline: none;
	width: 50%;
}
textarea.text-notes {
	width: 50%;
	padding: 2px;
	resize: none;
}
button.modal-button {
	border: none;
	padding: 10px;
	border-radius: 3px;
	color: #FFFFFF;
}
button.pickup-close {
	background-color: #e74c3c;
}
button.pickup-yes {
	background-color: #2980b9;
}
button.modal-button:hover {
	cursor: pointer;
}

/* home searchbar */
input#app-home-searchbar {
	position: absolute;
	top: 20px;
	right: 0%;
	background-image: url(/img/searchicon.png);
	background-size: 12px;
	background-position: 7px 7px;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	border: solid 1px #ddd;
	margin-bottom: 12px;
	border-radius: 5px;
	outline: none;
	width: 24%;
}

/* Notification Style */
p.notif-text {
	font-size: 90%;
	color: #2574A9;
	padding: 5px;
	line-height: 1.5;
	border-radius: 3px;
	background-color: #EEEEEE;
}
/* end of notification style */

@media only screen and (max-width: 750px) {
	input#app-home-searchbar {
		visibility: hidden;
	}
}
	/* end of home searchbar */

/* Media query for responsive web */
@media only screen and (max-width: 550px) {
	input.app-howmuch {
		width: 100%;
	}
	textarea.text-notes {
		width: 100%;
	}
	div.app-modal-content {
		width: 100%;
	}
	input.input-text {
		width: 100%;
	}
	input.app-login-btn {
		width: 100%;
	}
	button.app-close-btn {
		width: 100%;
	}
	div#app-add-content {
		width: 100%;
	}
	div#app-sub-content {
		width: 100%;
	}
}
@media only screen and (max-width: 750px) {
	div#app-side-notif {
		display: none;
	}
	div#app-table-box {
		width: 100%;
	}
	div#app-table-box table {
		width: 100%;
	}
}


div#app-add-modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
div#app-add-content {
	background-color: #FEFEFE;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 750px;
}
div#app-sub-modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
div#app-sub-content {
	background-color: #FEFEFE;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 750px;
}
table.add-table-qty tr:nth-child(even) {
	background-color: #FFFFFF;
}
table.sub-table-qty tr:nth-child(even) {
	background-color: #FFFFFF;
}

input.added-qty {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #2980b9;
	outline: none;
}
button.add-button-submit {
	border: solid 1px #27ae60;
	background-color: #27ae60;
	padding: 10px;
	border-radius: 3px;
	color: #FFFFFF;
}
button.add-close-button {
	border: solid 1px #e74c3c;
	background-color: #e74c3c;
	padding: 10px;
	border-radius: 3px;
	color: #FFFFFF;	
}
button.add-button-submit:hover, button.add-close-button:hover {
	cursor: pointer;
}

div#app-addqty-alert {
	display: none;
	position: fixed;
	top: 0;
	left: 25%;
	right: 25%;
	padding: 10px;
	z-index: 1;
	background-color: #e74c3c;
	color: #ffffff;
}

span.close-alert-addqty {
	color: #FFFFFF;
	float: right;
	font-size: 25px;
	font-weight: bold;
}
span.close-alert-addqty:hover {
	cursor: pointer;
}