* { box-sizing: border-box; }

body {
	font-family: "arial", sans-serif;
	margin: 0;
	padding: 0;
}

/* Main/Root Container Style */
div#app-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0px;
	height: 100%;
}
/* End of Container Style */

/* Login modal style */
div.app-modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
div.app-modal-content {
	background-color: #FEFEFE;
	margin: 10% auto;
	padding: 30px;
	border: 1px solid #888;
	width: 70%;
	border-radius: 10px;
	text-align: center;
}
h2.app-login-header {
	color: #7f8c8d;
	padding: 5px;
	border-radius: 5px;
	font-weight: 500;
}
input.input-text {
	border: none;
	border-bottom: solid 1px #95a5a6;
	outline: none;
	padding: 10px;
	width: 50%;
	font-family: "arial", sans-serif;
}
input.app-login-btn {
	border: none;
	padding: 7px;
	width: 50%;
	background-color: #e74c3c;
	color: #F2F2F2;
	font-weight: 700;
	border-radius: 5px;
}

button.app-close-btn {
	border: none;
	padding: 7px;
	width: 50%;
	background-color: #34495e;
	color: #F2F2F2;
	font-weight: 700;
	border-radius: 5px;
}

div.app-login-alert {
	font-size: 80%;
	color: red;
}

button.app-close-btn:hover {
	cursor: pointer;
}

input.app-login-btn:hover {
	cursor: pointer;
}
/* end of login modal style */

/* Table style */
div#app-table-box {
	overflow-x: auto;
	position: absolute;
	top: 160px;
	left: 0;
	width: 75%;
}
div#app-side-notif {
	height: 100%;
	width: 24%;
	position: absolute;
	right: 0;
	top: 160px;
	background-color: #FFFFFF;
	border: solid 1px #ddd;
	overflow-x: hidden;
	padding: 5px;
	padding-left: 10px;
	border-radius: 3px;
	color: #2c3e50;
}
@media only screen and (max-width: 750px) {
	div#app-side-notif {
		display: none;
	}
	div#app-table-box {
		width: 100%;
	}
	div#app-table-box table {
		width: 100%;
	}
}
div#app-table-box table {
	text-align: center;
	font-size: 80%;
	width: 100%;
	border-radius: 3px;
}
table.app-table {
	border:1px solid #DDD;
}
tr:nth-child(even) {
	background-color: #F2F2F2;
}

/* Pickup Button */
a#app-pick-btn {
	text-decoration: none;
	background-color: #7f8c8d;
	color: #F2F2F2;
	padding: 5px;
	border-radius: 4px;
	display: block;
}
a#app-pick-btn:hover {
	background-color: #2c3e50;
}

/* Pick Modal */
div#app-pickup-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	widows: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4)
}
div#app-pickup-alert {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 35%;
	right: 35%;
	background-color: #e74c3c;
	color: #FFFFFF;
	border-radius: 3px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align: left;
}
.close-alert {
	font-size: 28px; float: right;
	padding: 10px;

}
.close-alert:hover {
	cursor: pointer;
}

div.app-pickup-content {
	background-color: #FEFEFE;
	margin: 10% auto;
	padding: 20px;
	border: solid 1px #888;
	width: 80%;
	border-radius: 5px;
}

button.pickup-close:hover {
	cursor: pointer;
}

div#tbl-input-content {
	overflow-x: auto;
}
div#tbl-input-content table {
	width: 100%;
}
div#tbl-input-content table tr:nth-child(even) {
	background-color: #FFFFFF;
}
div#app-pickup-btn-box {
	padding: 3px;
	text-align: center;
}
input.app-howmuch {
	border: none;
	border-bottom: solid 1px #95a5a6;
	padding: 10px;
	outline: none;
	width: 50%;
}
textarea.text-notes {
	width: 50%;
	padding: 2px;
	resize: none;
}
button.modal-button {
	border: none;
	padding: 10px;
	border-radius: 3px;
	color: #FFFFFF;
}
button.pickup-close {
	background-color: #e74c3c;
}
button.pickup-yes {
	background-color: #2980b9;
}
button.modal-button:hover {
	cursor: pointer;
}

@media only screen and (max-width: 550px) {
	input.app-howmuch {
		width: 100%;
	}
	textarea.text-notes {
		width: 100%;
	}
}