* { box-sizing: border-box; }

body {
	font-family: "arial", sans-serif;
}

/* Main/Root Container Style */
div#app-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0px;
}
/* End of Container Style */

/* Login modal style */
div.app-modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
div.app-modal-content {
	background-color: #FEFEFE;
	margin: 5% auto;
	padding: 30px;
	border: 1px solid #888;
	width: 70%;
	border-radius: 10px;
	text-align: center;
}
h2.app-login-header {
	color: #3498db;
	padding: 5px;
	border-radius: 5px;
	font-weight: 500;
}
input.input-text {
	border: none;
	border-bottom: solid 1px #2ecc71;
	outline: none;
	padding: 10px;
	width: 50%;
	font-family: "arial", sans-serif;
}
input.app-login-btn {
	border: none;
	padding: 7px;
	width: 50%;
	background-color: #e74c3c;
	color: #F2F2F2;
	font-weight: 700;
	border-radius: 5px;
}

button.app-close-btn {
	border: none;
	padding: 7px;
	width: 50%;
	background-color: #34495e;
	color: #F2F2F2;
	font-weight: 700;
	border-radius: 5px;
}

div.app-login-alert {
	font-size: 80%;
	color: red;
}

button.app-close-btn:hover {
	cursor: pointer;
}

input.app-login-btn:hover {
	cursor: pointer;
}
/* end of login modal style */

/* Table style */
div#app-table-box {
	overflow-x: auto;
}
div#app-table-box table {
	width: 100%;
	text-align: center;
	font-size: 80%;
}
table.app-table {
	border:1px solid #DDD;
}
tr:nth-child(even) {
	background-color: #F2F2F2;
}

/* Footer style */
/*div#app-footer {
	position: absolute;
}
/* end of footer style */

/* Sub Navigation */

/* end of sub */