div#app-ajax-wrapper {
	padding: 20px;
}

/* Users Ajax Wrapper */
div#users-wrapper {
	padding-top: 35px;
	padding-left: 15px;
	overflow-x: auto;
}
table.form-add-users-table tr:nth-child(even) {
	background-color: #FFFFFF;
}
table.form-add-users-table {
	font-size: 85%;
	color: #0984e3;
	width: 700px;
}
/* end of Users Ajax Wrapper */

/* Add Box style */
div#users-add-box {
	display: none;
}
input.users-text {
	border: none;
	border-bottom: solid 1px #636e72;
	padding: 10px;
	width: 100%;
	outline: none;
}
label.label-text {
	padding-left: 10px;
	color: #636e72;
}
select.users-role {
	width: 100%;
	border: none;
	padding: 10px;
	background-color: #FFFFFF;
	border-bottom: solid 1px #636e72;
}
input.add-submit {
	border: none;
	width: 100%;
	padding: 5px;
	background-color: #636e72;
	color: #FFFFFF;
	border-radius: 3px;
}
input.add-submit:hover {
	cursor: pointer;
}
/* End of Add Box style */

/* User List Box style */
div#registered-users-box {
	display: none;
}
div#new-users-box {
	display: none;
}
table.users-table {
	border: solid 1px #ddd;
	font-size: 80%;
}
/* button */
button.remove-users {
	border: solid 1px #ff4757;
	padding: 10px;
	border-radius: 3px;
	background-color: #ff4757;
	font-weight: 400;
	color: #f1f2f6;
}
button.remove-users:hover {
	background-color: #f1f2f6;
	color: #ff4757;
	border: solid 1px #ff4757;
}
button:hover {
	cursor: pointer;
}

button.remove-true {
	border: solid 1px #0984e3;
	border-radius: 3px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #0984e3;
	color: #FFFFFF;
	font-weight: 500;
}
button.remove-true:hover {
	background-color: #FFFFFF;
	color: #0984e3;
}
button.close-modal {
	background-color: #d63031;
	border: solid 1px #d63031;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
	color: #FFFFFF;
}
button.close-modal:hover {
	background-color: #FFFFFF;
	color: #d63031;
}
/* End of User List Box style */

/* Alert/Popup */
div.users-add-alert {
	position: fixed;
	top: 0px;
	left: 30%;
	right: 30%;
	background-color: #00b894;
	color: #FFFFFF;
	padding: 10px;
	display: none;
	border-radius: 3px;
	text-align: center;
}
.users-close-alert {
	font-size: 28px; float: right;
	padding: 15px;
}
.users-close-alert:hover {
	cursor: pointer;
}

/* end of alert */

/* Remove Modal */
.remove-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
/* Content */
div.remove-modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 500px;
	border-radius: 5px;
}
table.table-modal-content {
	font-size: 90%;
	width: 100%;
}
div#modal-table {
	overflow-x: auto;
}
/* end of remove modal */